<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>SaveUser</servlet-name>
		<display-name>SaveUser</display-name>
		<description></description>
		<servlet-class>SaveUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveUserServlet</servlet-name>
		<display-name>SaveUserServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.SaveUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<display-name>UserLoginServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<display-name>HomeServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckoutServlet</servlet-name>
		<display-name>CheckoutServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.CheckoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddToCartServlet</servlet-name>
		<display-name>AddToCartServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.AddToCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RestaurantServlet</servlet-name>
		<display-name>RestaurantServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.RestaurantServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateRetaurantDetailsServlet</servlet-name>
		<display-name>UpdateRetaurantDetailsServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.UpdateRetaurantDetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMenuDetailsServlet</servlet-name>
		<display-name>UpdateMenuDetailsServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.UpdateMenuDetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddMenuItemServlet</servlet-name>
		<display-name>AddMenuItemServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.AddMenuItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartServlets</servlet-name>
		<display-name>CartServlets</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.CartServlets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveUser</servlet-name>
		<url-pattern>/SaveUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveUserServlet</servlet-name>
		<url-pattern>/SaveUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/CheckoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/AddToCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestaurantServlet</servlet-name>
		<url-pattern>/RestaurantServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateRetaurantDetailsServlet</servlet-name>
		<url-pattern>/UpdateRetaurantDetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMenuDetailsServlet</servlet-name>
		<url-pattern>/UpdateMenuDetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMenuItemServlet</servlet-name>
		<url-pattern>/AddMenuItemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartServlets</servlet-name>
		<url-pattern>/CartServlets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.tap.servlet.CartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderServlets</servlet-name>
		<display-name>OrderServlets</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.OrderServlets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAddressServlet</servlet-name>
		<display-name>UpdateAddressServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.UpdateAddressServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderHistoryServlets</servlet-name>
		<display-name>OrderHistoryServlets</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.OrderHistoryServlets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteAddressServlet</servlet-name>
		<display-name>DeleteAddressServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.DeleteAddressServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserDetailsServlet</servlet-name>
		<display-name>UpdateUserDetailsServlet</display-name>
		<description></description>
		<servlet-class>com.tap.servlets.UpdateUserDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/CartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderServlets</servlet-name>
		<url-pattern>/OrderServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAddressServlet</servlet-name>
		<url-pattern>/UpdateAddressServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderHistoryServlets</servlet-name>
		<url-pattern>/OrderHistoryServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAddressServlet</servlet-name>
		<url-pattern>/DeleteAddressServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserDetailsServlet</servlet-name>
		<url-pattern>/UpdateUserDetailsServlet</url-pattern>
	</servlet-mapping>

</web-app>
